# Excluir el control de versiones de Git
.git
.gitignore

# Excluir archivos de configuración con secretos (Saneamiento crítico)
.env
*.env
.dockerignore

# Excluir archivos temporales y caches de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Excluir entornos virtuales locales
.venv/
venv/
env/

# Archivos basura del sistema o IDEs (Modificación Observación 11)
.vscode/
.idea/
.DS_Store
Activador.txt
estructura.txt